<template name="login">
	<div id="login_div" class="highlight col-md-3 col-md-offset-4">
		<form role="form" id="login_form">
			<div class="form-group">
				<label for="inputUsernameEmail">Username</label>
				<input type="text" class="form-control" id="inputUsernameEmail" name="username">
			</div>
			<div class="form-group">
				<label for="inputPassword">Password</label>
				<input type="password" class="form-control" id="inputPassword" name="password">
			</div>
			<div class="pull-right">
				<button type="button" id="register" class="btn btn btn-info">Register</button>
				<button type="button" id="login" class="btn btn btn-primary">Log In</button>
			</div>
		</form>
	</div>
</template>

	