<template name="menu_staff">
	<nav role="navigation" class="navbar navbar-default col-md-3 col-xs-12">
	 	<div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
			    <span class="sr-only">Toggle navigation</span>
			    <span class="icon-bar"></span>
			    <span class="icon-bar"></span>
			    <span class="icon-bar"></span>
		  	</button>
        </div>
     	<div id="navbarCollapse" class="collapse navbar-collapse">
			<ul>
				<li>
					<div class="highlight">
						<span class="menu-item menu-selected">Job Order</span>
						<span class="label label-default pull-right">{{job_order}}</span>
					</div>
					<div class="highlight">
						<span class="menu-item">Preparing</span>
						<span class="label label-default pull-right">{{preparing}}</span>
					</div>
					<div class="highlight">
						<span class="menu-item">Embroidering</span>
						<span class="label label-default pull-right">{{embroidering}}</span>
					</div>
					<div class="highlight">
						<span class="menu-item">Printing</span>
						<span class="label label-default pull-right">{{printing}}</span>
					</div>
					<div class="highlight">
						<span class="menu-item">Completed</span>
						<span class="label label-default pull-right">{{completed}}</span>
					</div>
					<hr/>
					<div class="highlight">
						<span class="menu-item">Need to Order</span>
						<span class="label label-default pull-right">{{need_to_order}}</span>
					</div>
					<div class="highlight">
						<span class="menu-item">Ordered</span>
						<span class="label label-default pull-right">{{ordered}}</span>
					</div>
					<div class="highlight">
						<span class="menu-item">Delivered</span>
						<span class="label label-default pull-right">{{delivered}}</span>
					</div>
					<div class="highlight">
						<span class="menu-item">Inventory</span>
					</div>
					<hr/>
				</li>
			</ul>
			<div>
				<button class="logout btn btn-info pull-right">Logout</button>
			</div>
		</div>
	</nav>
</template>

<template name="content_staff">
	<div class="col-md-9 col-xs-12" id="wrap">
		<!--  -->
		{{#if job_order}}
		<div id="content-title" class="col-md-12 col-xs-12">
			JOB ORDERS
		</div>
		<div id="content-table" class="col-md-12 col-xs-12">
			<ul class="col-md-12">
			{{#each job_order_tasks}}
			<li class="highlight col-md-12 col-xs-12">
				<div class="pull-left">
					<span class="order_task_id" style="display:none">{{_id}}</span>
					<p class="col-xs-12">
						<span>
							<strong>{{ name }}</strong>
							&nbsp;(Order ID: <span>{{ order_id }})</span>
						</span>
					</p>
					<p class="col-xs-12">
						{{ item }} <span class="label" style="background:{{color}}">{{color}}</span>&nbsp;&nbsp;Quantity: {{ qty }}
					</p>
					<p class="col-xs-12">
						<span class="label label-default">S:{{s}}</span>
						<span class="label label-default">M:{{m}}</span>
						<span class="label label-default">L:{{l}}</span>
						<span class="label label-default">XL:{{xl}}</span>
						<span class="label label-default">2X:{{x2}}</span>
						<span class="label label-default">3X:{{x3}}</span>
						<span class="label label-default">Other:{{other}}</span>
					</p>
				</div>
				<div class="pull-right" style="text-align:right">
					<p class="col-xs-12">Ordered: {{ date }}</p>
					<br/>
					{{#if available}}
					<button class="next_order next col-xs-12 btn btn-primary" type="button">Next&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></button>
					{{else}}
					<p class="col-xs-12">No Supply</p>
					{{/if}}
				</div>
			</li>
			{{/each}}
			</ul>
		</div>
		{{/if}}
		<!--  -->
		{{#if preparing}}
		<div id="content-title" class="col-md-12 col-xs-12">
			PREPARING 
		</div>
		<div id="content-table" class="col-md-12 col-xs-12">
			<ul class="col-md-12 col-xs-12">
			{{#each preparing_tasks}}
			<li class="highlight col-md-12 col-xs-12">
				<div class="pull-left">
					<span class="order_task_id" style="display:none">{{_id}}</span>
					<p class="col-xs-12">
						<span>
							<strong>{{ name }}</strong>
							&nbsp;(Order ID: <span>{{ order_id }})</span>
						</span>
					</p>
					<p class="col-xs-12">
						{{ item }} <span class="label" style="background:{{color}}">{{color}}</span>&nbsp;&nbsp;Quantity: {{ qty }}
					</p>
					<p class="col-xs-12">
						<span class="label label-default">S:{{s}}</span>
						<span class="label label-default">M:{{m}}</span>
						<span class="label label-default">L:{{l}}</span>
						<span class="label label-default">XL:{{xl}}</span>
						<span class="label label-default">2X:{{x2}}</span>
						<span class="label label-default">3X:{{x3}}</span>
						<span class="label label-default">Other:{{other}}</span>
					</p>
				</div>
				<div class="pull-right" style="text-align:right">
					<p class="col-xs-12">Ordered: {{ date }}</p>
					<p class="col-xs-12">Started: {{ updated }}</p>
					<button class="next_order next col-xs-12 btn btn-primary" type="button">Next&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></button>
				</div>
			</li>
			{{/each}}
			</ul>
		</div>
		{{/if}}
		<!--  -->
		{{#if embroidering}}
		<div id="content-title" class="col-md-12">
			EMBROIDERING 
		</div>
		<div id="content-table" class="col-md-12">
			<ul class="col-md-12">
			{{#each embroidering_tasks}}
			<li class="highlight col-md-12 col-xs-12">
				<div class="pull-left">
					<span class="order_task_id" style="display:none">{{_id}}</span>
					<p class="col-xs-12">
						<span>
							<strong>{{ name }}</strong>
							&nbsp;(Order ID: <span>{{ order_id }})</span>
						</span>
					</p>
					<p class="col-xs-12">
						{{ item }} <span class="label" style="background:{{color}}">{{color}}</span>&nbsp;&nbsp;Quantity: {{ qty }}
					</p>
					<p class="col-xs-12">
						<span class="label label-default">S:{{s}}</span>
						<span class="label label-default">M:{{m}}</span>
						<span class="label label-default">L:{{l}}</span>
						<span class="label label-default">XL:{{xl}}</span>
						<span class="label label-default">2X:{{x2}}</span>
						<span class="label label-default">3X:{{x3}}</span>
						<span class="label label-default">Other:{{other}}</span>
					</p>
				</div>
				<div class="pull-right" style="text-align:right">
					<p class="col-xs-12">Ordered: {{ date }}</p>
					<p class="col-xs-12">Started: {{ updated }}</p>
					<button class="next_order next col-xs-12 btn btn-primary" type="button">Next&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></button>
				</div>
			</li>
			{{/each}}
			</ul>
		</div>
		{{/if}}
		<!--  -->
		{{#if printing}}
		<div id="content-title" class="col-md-12">
			PRINTING 
		</div>
		<div id="content-table" class="col-md-12">
			<ul class="col-md-12">
			{{#each printing_tasks}}
			<li class="highlight col-md-12">
				<div class="pull-left">
					<span class="order_task_id" style="display:none">{{_id}}</span>
					<p>
						<span>
							<strong>{{ name }}</strong>
							&nbsp;(Order ID: <span>{{ order_id }})</span>
						</span>
					</p>
					<p>
						{{ item }} <span class="label" style="background:{{color}}">{{color}}</span>&nbsp;&nbsp;Quantity: {{ qty }}
					</p>
					<p>
						<span class="label label-default">S:{{s}}</span>
						<span class="label label-default">M:{{m}}</span>
						<span class="label label-default">L:{{l}}</span>
						<span class="label label-default">XL:{{xl}}</span>
						<span class="label label-default">2X:{{x2}}</span>
						<span class="label label-default">3X:{{x3}}</span>
						<span class="label label-default">Other:{{other}}</span>
					</p>
				</div>
				<div class="pull-right" style="text-align:right">
					<p>Ordered: {{ date }}</p>
					<p>Started: {{ updated }}</p>
					<button class="next_order next btn btn-primary" type="button">Next&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></button>
				</div>
			</li>
			{{/each}}
			</ul>
		</div>
		{{/if}}
		<!--  -->
		{{#if completed}}
		<div id="content-title" class="col-md-12">
			COMPLETED
		</div>
		<div id="content-table" class="col-md-12">
			<ul class="col-md-12">
			{{#each completed_tasks}}
			<li class="highlight col-md-12 col-xs-12">
				<div class="pull-left">
					<span class="order_task_id" style="display:none">{{_id}}</span>
					<p class="col-xs-12">
						<span>
							<strong>{{ name }}</strong>
							&nbsp;(Order ID: <span>{{ order_id }})</span>
						</span>
					</p>
					<p class="col-xs-12">
						{{ item }} <span class="label" style="background:{{color}}">{{color}}</span>&nbsp;&nbsp;Quantity: {{ qty }}
					</p>
					<p class="col-xs-12">
						<span class="label label-default">S:{{s}}</span>
						<span class="label label-default">M:{{m}}</span>
						<span class="label label-default">L:{{l}}</span>
						<span class="label label-default">XL:{{xl}}</span>
						<span class="label label-default">2X:{{x2}}</span>
						<span class="label label-default">3X:{{x3}}</span>
						<span class="label label-default">Other:{{other}}</span>
					</p>
				</div>
				<div class="pull-right" style="text-align:right">
					<p class="col-xs-12">Ordered: {{ date }}</p>
					<p class="col-xs-12">Completed: {{ updated }}</p>
					
				</div>
			</li>
			{{/each}}
			</ul>
		</div>
		{{/if}}
		<!--  -->
		{{#if need_to_order}}
		<div id="content-title" class="col-md-12 col-xs-12">
			NEED TO ORDER
		</div>
		<div id="content-table" class="col-md-12 col-xs-12">
			<ul class="col-md-12 col-xs-12">
			{{#each need_to_order_tasks}}
			<li class="highlight col-md-12 col-xs-12">
				<div class="pull-left">
					<span class="purchase_id" style="display:none">{{_id}}</span>
					<p class="col-xs-12">
						<span><strong>{{ item }}</strong></span> 
						&nbsp;(Item No: <span>{{ itemNum }}</span>)
					</p>
					<p class="col-xs-12">
						Color: <span class="label" style="background:{{color}}">{{color}}</span>&nbsp;&nbsp;Quantity: {{ qty }}
					</p>
					<p class="col-xs-12">
						<span class="label label-default">S:{{s}}</span>
						<span class="label label-default">M:{{m}}</span>
						<span class="label label-default">L:{{l}}</span>
						<span class="label label-default">XL:{{xl}}</span>
						<span class="label label-default">2X:{{x2}}</span>
						<span class="label label-default">3X:{{x3}}</span>
						<span class="label label-default">Other:{{other}}</span>
					</p>
				</div>
				<div class="pull-right" style="text-align:right">
					<br/>
					<br/>
					<button class="next_purchase next col-xs-12 btn btn-primary" type="button">Next&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></button>
				</div>
			</li>
			{{/each}}
			</ul>
		</div>
		{{/if}}
		<!--  -->
		{{#if ordered}}
		<div id="content-title" class="col-md-12 col-xs-12">
			ORDERED
		</div>
		<div id="content-table" class="col-md-12 col-xs-12">
			<ul class="col-md-12 col-xs-12">
			{{#each ordered_tasks}}
			<li class="highlight col-md-12 col-xs-12">
				<div class="pull-left">
					<span class="purchase_id" style="display:none">{{_id}}</span>
					<p class="col-xs-12">
						<span><strong>{{ item }}</strong></span> 
						&nbsp;(Item No: <span>{{ itemNum }}</span>)
					</p>
					<p class="col-xs-12">
						Color: <span class="label" style="background:{{color}}">{{color}}</span>&nbsp;&nbsp;Quantity: {{ qty }}
					</p>
					<p class="col-xs-12">
						<span class="label label-default">S:{{s}}</span>
						<span class="label label-default">M:{{m}}</span>
						<span class="label label-default">L:{{l}}</span>
						<span class="label label-default">XL:{{xl}}</span>
						<span class="label label-default">2X:{{x2}}</span>
						<span class="label label-default">3X:{{x3}}</span>
						<span class="label label-default">Other:{{other}}</span>
					</p>
				</div>
				<div class="pull-right" style="text-align:right">
					<p class="col-xs-12">Ordered: {{ date_ordered }}</p>
					<br/>
					<button class="next_purchase next col-xs-12 btn btn-primary" type="button">Next&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></button>
				</div>
			</li>
			{{/each}}
			</ul>
		</div>
		{{/if}}
		<!--  -->
		{{#if delivered}}
		<div id="content-title" class="col-md-12 col-xs-12">
			DELIVERED
		</div>
		<div id="content-table" class="col-md-12 col-xs-12">
			<ul class="col-md-12 col-xs-12">
			{{#each delivered_tasks}}
			<li class="highlight col-md-12 col-xs-12">
				<div class="pull-left">
					<span class="purchase_id" style="display:none">{{_id}}</span>
					<p class="col-xs-12">
						<span><strong>{{ item }}</strong></span> 
						&nbsp;(Item No: <span>{{ itemNum }}</span>)
					</p>
					<p class="col-xs-12">
						Color: <span class="label" style="background:{{color}}">{{color}}</span>&nbsp;&nbsp;Quantity: {{ qty }}
					</p>
					<p class="col-xs-12">
						<span class="label label-default">S:{{s}}</span>
						<span class="label label-default">M:{{m}}</span>
						<span class="label label-default">L:{{l}}</span>
						<span class="label label-default">XL:{{xl}}</span>
						<span class="label label-default">2X:{{x2}}</span>
						<span class="label label-default">3X:{{x3}}</span>
						<span class="label label-default">Other:{{other}}</span>
					</p>
				</div>
				<div class="pull-right" style="text-align:right">
					<p class="col-xs-12">Ordered: {{ date_ordered }}</p>
					<p class="col-xs-12">Delivered: {{ date_delivered }}</p>
					
				</div>
			</li>
			{{/each}}
			</ul>
		</div>
		{{/if}}
		<!--  -->
		{{#if inventory}}
		<div id="content-title" class="col-md-12 col-xs-12">
			INVENTORY&nbsp;
			<button class="btn btn-primary" style="padding:0px 6px;" data-toggle="modal" data-target="#inventory-modal">
				<span class="glyphicon glyphicon-plus"></span>
			</button>
		</div>
		<div id="content-table" class="col-md-12 col-xs-12">
			{{#each inventory_items}}
			<div class="col-md-4 col-xs-12">
				<div class="inventory_box highlight">
					<p>Item No: <span>{{ itemNum }}</span></p>
					<p>Item: <strong>{{ item }}</strong></p>
					<p>Available: {{ qty }}</p>
					{{#each colors}}
					<span class="label" style="background:{{color}}">{{ qty }}</span>
					{{/each}}
				</div>
			</div>
			{{/each}}
		</div>
		{{/if}}
		<!--  -->
		<!-- Modal -->
		<div class="modal fade" id="content-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title" id="myModalLabel">Order</h4>
		      </div>
		      <div class="modal-body">
		        {{> target_modal }}
		      </div>
		    </div>
		  </div>
		</div>

		<div class="modal fade" id="inventory-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title" id="myModalLabel">Add Inventory</h4>
		      </div>
		      <div class="modal-body">
		        {{> inventory_modal }}
		      </div>
		    </div>
		  </div>
		</div>
	</div>
</template>