<template name="menu_sales">
	<div class="col-md-3">
		<ul id="service-menu">
			{{#each services}}
			<li>
				<div class="highlight">
					<span class="menu-item">{{service}}</span>
					<span class="label label-default pull-right">{{value}}</span>
				</div>
			</li>
			{{/each}}
			<hr/>
			<li>
				<div class="highlight">
					<span class="menu-item">Orders</span>
					<span class="label label-default pull-right">{{sales_orders_count}}</span>
				</div>
			</li>
			<li>
				<div class="highlight">
					<span class="menu-item">Sales</span>
				</div>
			</li>
			<li>
				<div class="highlight">
					<span class="menu-item">Account Receivable</span>
				</div>
			</li>
			<hr/>
		</ul>
		<div>
			<button class="logout btn btn-info pull-right">Logout</button>
		</div>
	</div>
</template>

<template name="content_sales">
	<form class="col-md-9" id="wrap">
		<!--  -->
		{{#if embroidery}}
		<div id="content-head" class="col-md-12">
			<input name="service" type="hidden" value="Embroidery"/>
			<div class="col-md-2">
				<img class="logo" src="GCLogoColor.png"/>
			</div>
			<div class="col-md-4">
				<p id="address">
					<strong>GRAPHIC CONNECTIONS</strong><br/>
					145 Mount Auburn Street<br/>
					Watertown, MA  02742<br/>
					617 - 926 - 1155 
				</p>
			</div>
			<div id="content-head-form" class="col-md-6">
				<table class="table">
					<tr>
						<td>Company Name: </td>
						<td><input name="company_name" class="form-control content-control" type="text"/></td>
					</tr>
					<tr>
						<td>Name: </td>
						<td><input name="user_name" class="form-control content-control" type="text" value=""/></td>
					</tr>
					<tr>
						<td>Address: </td>
						<td><input name="address" class="form-control content-control" type="text"/></td>
					</tr>
					<tr>
						<td>Phone: </td>
						<td><input name="phone" class="form-control content-control" type="text"/></td>
					</tr>
				</table>
			</div>
		</div>
		<div id="content-datebox" class="col-md-12">
			<div class="col-md-12" id="content-datebox-upper">
				<span class="col-md-3">Salesperson: <input name="salesperson" style="width:50%;" class="form-control content-control" type="text" value="{{currentUser.profile.name}}"/></span>
				<span id="dateToday" class="col-md-3">Today's Date: <u>{{ dateToday }}</u></span>
				<span class="col-md-3">Est Prod Days: <input name="prod_days" style="width:43%;" class="form-control content-control" type="text"/></span>
				<span class="col-md-3">Due Date: <input name="due_date" style="width:67%;" class="form-control content-control" type="date"/></span>
			</div>
			<div  class="col-md-12" id="content-datebox-lower">
				<span class="col-md-6">Garments: <input name="garments" style="width:50%;" class="form-control content-control" type="text"/></span>
				<span class="col-md-6">Other: <input name="other_top" style="width:50%;" class="form-control content-control" type="text"/></span>
			</div>
		</div>
		<div id="content-title" class="col-md-12">
			<div class="col-md-6" style="padding-left:0px;">
				<strong>EMBROIDERY</strong>
			</div>
			<div class="col-md-3">
				INVOICE #:<br/>
				<input name="invoice" type="text" class="form-control" value="{{gen_invoice}}">
			</div>
			<div class="col-md-3">
				Requested Combinations:<br/>
				<input name="screen_print" type="checkbox" value="screen_print"/>SCREEN PRINT<br/>
				<input name="vinyl" type="checkbox" value="vinyl"/>VINYL
			</div>
		</div>
		<div id="content-table" class="col-md-12">
			<table class="table table-bordered">
				<thead>
					<tr>
						<td>Item</td>
						<td>Item No</td>
						<td>Color</td>
						<td>S</td>
						<td>M</td>
						<td>L</td>
						<td>XL</td>
						<td>2X</td>
						<td>3X</td>
						<td style="font-size:10px">OTHER<input name="other_size" type="text" class="form-control" style="height:20px"></td>
						<td>Unit Price</td>
						<td>Qty</td>
						<td>Line Total</td>
						<td></td>
					</tr>
				</thead>
				<tbody>
					<tr id="input-row">
						<td>
							<select id="item">
								<option>Select Item</option>
								{{#each items}}
								<option>{{item}}</option>
								{{/each}}
							</select>
						</td>
						<td>
							<span id="itemNum">{{selectItem.itemNum}}</span>
						</td>
						<td>
							<select id="color">
								{{#each selectItem.colors}}
								<option>{{this.color}}</option>
								{{/each}}
							</select>
						</td>
						<td>
							<input id="s" type="text" class="form-control content-control" value="0">
						</td>
						<td>
							<input id="m" type="text" class="form-control content-control" value="0">
						</td>
						<td>
							<input id="l" type="text" class="form-control content-control" value="0">
						</td>
						<td>
							<input id="xl" type="text" class="form-control content-control" value="0">
						</td>
						<td>
							<input id="x2" type="text" class="form-control content-control" value="0">
						</td>
						<td>
							<input id="x3" type="text" class="form-control content-control" value="0">
						</td>
						<td>
							<input id="other" type="text" class="form-control content-control" value="0">
						</td>
						<td>
							$<span id="unitPrice">{{selectItem.unitPrice}}</span>
						</td>
						<td>
							<span id="qty">{{line_qty}}</span>
						</td>
						<td>
							<strong>$<span id="totals">{{line_total}}</span></strong>
						</td>
						<td>
							<button id="add_order" type="button" class="btn btn-primary">
								<span class="glyphicon glyphicon-plus"></span>
							</button>
						</td>
					</tr>
					{{#each carts}}
					<tr>
						<input class="cart_id" value="{{_id}}" type="hidden">
						<td>{{desc}}</td>
						<td>{{itemNum}}</td>
						<td>{{color}}</td>
						<td>{{s}}</td>
						<td>{{m}}</td>
						<td>{{l}}</td>
						<td>{{xl}}</td>
						<td>{{x2}}</td>
						<td>{{x3}}</td>
						<td>{{other}}</td>
						<td>{{unitPrice}}</td>
						<td>{{qty}}</td>
						<td>{{totals}}</td>
						<td>
							<button class="delete_order btn btn-danger" type="button">
								<span class="glyphicon glyphicon-trash"></span>
							</button>
						</td>
					</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
		<div id="content-footer" class="col-md-12">
			<div class="col-md-6">
				<p class="col-md-12"><i>
					Each order placed with GC is unique and individual and as such, additional costs may incur, that may not have been perceived especially if changes are made. It is our practice to provide an excellent  experience, and quality product. A 50% deposit is required to facilitate your order.
				</i></p>
				<div id="content-deposit" class="col-md-12">
					<h4 class="col-md-3	">Deposit: </h4>
					<div class="col-md-6 input-group">
						<span class="input-group-addon">$</span>
						<input id="deposit" name="deposit" type="text" class="ta-right form-control" value="0"/>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="col-md-10 pull-right">
					<div class="col-md-12 content-footer-adds">
						<div class="col-md-6">
							<input id="adds1" name="adds1" type="text" class="form-control"/>
						</div>
						<div class="col-md-6 input-group">
							<span class="input-group-addon">$</span>
							<input id="adds1_val" name="adds1_val" type="text" value="0" class="ta-right form-control"/>
						</div>
					</div>
					<div class="col-md-12 content-footer-adds">
						<div class="col-md-6">
							<input id="adds2" name="adds2" type="text" class="form-control"/>
						</div>
						<div class="col-md-6 input-group">
							<span class="input-group-addon">$</span>
							<input id="adds2_val" name="adds2_val" type="text" value="0" class="ta-right form-control"/>
						</div>
					</div>
					<div id="content-footer-total" class="col-md-12">
						<h3 class="col-md-6">TOTAL: </h3>
						<div class="col-md-6 input-group">
							<span class="input-group-addon">$</span>
							<input id="grand_total" name="grand_total" disabled type="text" class="ta-right form-control" value="{{order_total}}"/>
						</div>
					</div>
					<div id="content-footer-subwrap" class="col-md-12">
						<button id="content-footer-submit" class="btn btn-primary" type="button">PROCEED</button>
					</div>
				</div>
			</div>
		</div>
		{{/if}}
		<!--  -->
		{{#if screenPrinting}}
		<div id="content-head" class="col-md-12">
			<input name="service" type="hidden" value="Screen Printing"/>
			<div class="col-md-2">
				<img class="logo" src="GCLogoColor.png"/>
			</div>
			<div class="col-md-4">
				<p id="address">
					<strong>GRAPHIC CONNECTIONS</strong><br/>
					145 Mount Auburn Street<br/>
					Watertown, MA  02742<br/>
					617 - 926 - 1155 
				</p>
			</div>
			<div id="content-head-form" class="col-md-6">
				<table class="table">
					<tr>
						<td>Company Name: </td>
						<td><input name="company_name" class="form-control content-control" type="text"/></td>
					</tr>
					<tr>
						<td>Name: </td>
						<td><input name="user_name" class="form-control content-control" type="text" value="{{currentUser.profile.name}}"/></td>
					</tr>
					<tr>
						<td>Address: </td>
						<td><input name="address" class="form-control content-control" type="text"/></td>
					</tr>
					<tr>
						<td>Phone: </td>
						<td><input name="phone" class="form-control content-control" type="text"/></td>
					</tr>
				</table>
			</div>
		</div>
		<div id="content-datebox" class="col-md-12">
			<div class="col-md-12" id="content-datebox-upper">
				<span class="col-md-4">Salesperson: <input name="salesperson" style="width:65%;" class="form-control content-control" type="text"/></span>
				<span id="dateToday" class="col-md-4">Today's Date: <u>{{ dateToday }}</u></span>
				<span class="col-md-4">Due Date: <input name="due_date" style="width:67%;" class="form-control content-control" type="date"/></span>
			</div>
			<div  class="col-md-12" id="content-datebox-lower">
				<label class="col-md-4">NEW ORDER: <input name="retail" type="checkbox"/></label>
				<label class="col-md-4">REPEAT ORDER: <input name="wholesale" type="checkbox"/></label>
				<label class="col-md-4">RUSH: <input name="rush" type="checkbox"/></label>
			</div>
		</div>
		<div id="content-title" class="col-md-12">
			<div class="col-md-6" style="padding-left:0px;">
				<strong>SCREEN PRINTING</strong>
			</div>
			<div class="col-md-3">
				INVOICE #:<br/>
				<input name="invoice" type="text" class="form-control">
			</div>
		</div>
		<div id="content-table" class="col-md-12">
			<table class="table table-bordered">
				<thead>
					<tr>
						<td>QTY</td>
						<td style="width:8%">Item #</td>
						<td style="width:25%">Description</td>
						<td style="width:8%">Color</td>
						<td>S</td>
						<td>M</td>
						<td>L</td>
						<td>XL</td>
						<td>2X</td>
						<td>3X</td>
						<td style="font-size:10px">OTHER<input name="other_size" type="text" class="form-control" style="height:20px"></td>
						<td style="width:8%">Unit Price</td>
						<td style="width:8%">Totals</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<input id="qty" type="text" class="form-control content-control">
						</td>
						<td>
							<input id="itemNum" type="text" class="form-control content-control">
						</td>
						<td>
							<input id="desc" type="text" class="form-control content-control" value="{{findItem.item}}">
						</td>
						<td>
							<input id="color" type="text" class="form-control content-control" value="{{findItem.color}}">
						</td>
						<td>
							<input id="s" type="text" class="form-control content-control" value="0">
						</td>
						<td>
							<input id="m" type="text" class="form-control content-control" value="0">
						</td>
						<td>
							<input id="l" type="text" class="form-control content-control" value="0">
						</td>
						<td>
							<input id="xl" type="text" class="form-control content-control" value="0">
						</td>
						<td>
							<input id="x2" type="text" class="form-control content-control" value="0">
						</td>
						<td>
							<input id="x3" type="text" class="form-control content-control" value="0">
						</td>
						<td>
							<input id="other" type="text" class="form-control content-control" value="0">
						</td>
						<td>
							<input id="unitPrice" type="text" class="form-control content-control" value="{{findItem.unitPrice}}">
						</td>
						<td>
							<input id="totals" type="text" class="form-control content-control">
						</td>
					</tr>
					{{#each carts}}
					<tr>
						<td>{{qty}}</td>
						<td>{{itemNum}}</td>
						<td>{{desc}}</td>
						<td>{{color}}</td>
						<td>{{s}}</td>
						<td>{{m}}</td>
						<td>{{l}}</td>
						<td>{{xl}}</td>
						<td>{{x2}}</td>
						<td>{{x3}}</td>
						<td>{{other}}</td>
						<td>{{unitPrice}}</td>
						<td>{{totals}}</td>
					</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
		<div id="content-footer" class="col-md-12">
			<div class="col-md-6">
				<p class="col-md-12"><i>
					Each order placed with GC is unique and individual and as such, additional costs may incur, that may not have been perceived especially if changes are made. It is our practice to provide an excellent  experience, and quality product. A 50% deposit is required to facilitate your order.
				</i></p>
				<div id="content-deposit" class="col-md-12">
					<h4 class="col-md-3	">Deposit: </h4>
					<div class="col-md-6 input-group">
						<span class="input-group-addon">$</span>
						<input id="deposit" name="deposit" type="text" class="ta-right form-control" value="0"/>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="col-md-10 pull-right">
					<div class="col-md-12 content-footer-adds">
						<div class="col-md-6">
							<input id="adds1" name="adds1" type="text" class="form-control"/>
						</div>
						<div class="col-md-6 input-group">
							<span class="input-group-addon">$</span>
							<input id="adds1_val" name="adds1_val" type="text" value="0" class="ta-right form-control"/>
						</div>
					</div>
					<div class="col-md-12 content-footer-adds">
						<div class="col-md-6">
							<input id="adds2" name="adds2" type="text" class="form-control"/>
						</div>
						<div class="col-md-6 input-group">
							<span class="input-group-addon">$</span>
							<input id="adds2_val" name="adds2_val" type="text" value="0" class="ta-right form-control"/>
						</div>
					</div>
					<div id="content-footer-total" class="col-md-12">
						<h3 class="col-md-6">TOTAL: </h3>
						<div class="col-md-6 input-group">
							<span class="input-group-addon">$</span>
							<input id="grand_total" name="grand_total" disabled type="text" class="ta-right form-control" value="{{order_total}}"/>
						</div>
					</div>
					<div id="content-footer-subwrap" class="col-md-12">
						<button id="content-footer-submit" class="btn btn-primary" type="button">PROCEED</button>
					</div>

				</div>
			</div>
		</div>
		{{/if}}
		<!--  -->
		{{#if promotional}}
		<div id="content-head" class="col-md-12">
			<input name="service" type="hidden" value="Promotional"/>
			<div class="col-md-2">
				<img class="logo" src="GCLogoColor.png"/>
			</div>
			<div class="col-md-4">
				<p id="address">
					<strong>GRAPHIC CONNECTIONS</strong><br/>
					145 Mount Auburn Street<br/>
					Watertown, MA  02742<br/>
					617 - 926 - 1155 
				</p>
			</div>
			<div id="content-head-form" class="col-md-6">
				<table class="table">
					<tr>
						<td>Company Name: </td>
						<td><input name="company_name" class="form-control content-control" type="text"/></td>
					</tr>
					<tr>
						<td>Name: </td>
						<td><input name="user_name" class="form-control content-control" type="text" value="{{currentUser.profile.name}}"/></td>
					</tr>
					<tr>
						<td>Address: </td>
						<td><input name="address" class="form-control content-control" type="text"/></td>
					</tr>
					<tr>
						<td>Phone: </td>
						<td><input name="phone" class="form-control content-control" type="text"/></td>
					</tr>
				</table>
			</div>
		</div>
		<div id="content-datebox" class="col-md-12">
			<div class="col-md-12" id="content-datebox-upper">
				<span class="col-md-4">Salesperson: <input name="salesperson" style="width:65%;" class="form-control content-control" type="text"/></span>
				<span id="dateToday" class="col-md-4">Today's Date: <u>{{ dateToday }}</u></span>
				<span class="col-md-4">Due Date: <input name="due_date" style="width:67%;" class="form-control content-control" type="date"/></span>
			</div>
			<div  class="col-md-12" id="content-datebox-lower">
				<label class="col-md-4">RETAIL: <input name="retail" type="checkbox"/></label>
				<label class="col-md-4">WHOLESALE: <input name="wholesale" type="checkbox"/></label>
				<label class="col-md-4">RUSH: <input name="rush" type="checkbox"/></label>
			</div>
		</div>
		<div id="content-title" class="col-md-12">
			<div class="col-md-6" style="padding-left:0px;">
				<strong>PROMOTIONAL</strong>
			</div>
			<div class="col-md-3">
				INVOICE #:<br/>
				<input name="invoice" type="text" class="form-control">
			</div>
		</div>
		<div id="content-table" class="col-md-12">
			<table class="table table-bordered">
				<thead>
					<tr>
						<td>QTY</td>
						<td style="width:8%">Item #</td>
						<td style="width:25%">Description</td>
						<td style="width:8%">Color</td>
						<td>S</td>
						<td>M</td>
						<td>L</td>
						<td>XL</td>
						<td>2X</td>
						<td>3X</td>
						<td style="font-size:10px">OTHER<input name="other_size" type="text" class="form-control" style="height:20px"></td>
						<td style="width:8%">Unit Price</td>
						<td style="width:8%">Totals</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<input id="qty" type="text" class="form-control content-control">
						</td>
						<td>
							<input id="itemNum" type="text" class="form-control content-control">
						</td>
						<td>
							<input id="desc" type="text" class="form-control content-control" value="{{findItem.item}}">
						</td>
						<td>
							<input id="color" type="text" class="form-control content-control" value="{{findItem.color}}">
						</td>
						<td>
							<input id="s" type="text" class="form-control content-control" value="0">
						</td>
						<td>
							<input id="m" type="text" class="form-control content-control" value="0">
						</td>
						<td>
							<input id="l" type="text" class="form-control content-control" value="0">
						</td>
						<td>
							<input id="xl" type="text" class="form-control content-control" value="0">
						</td>
						<td>
							<input id="x2" type="text" class="form-control content-control" value="0">
						</td>
						<td>
							<input id="x3" type="text" class="form-control content-control" value="0">
						</td>
						<td>
							<input id="other" type="text" class="form-control content-control" value="0">
						</td>
						<td>
							<input id="unitPrice" type="text" class="form-control content-control" value="{{findItem.unitPrice}}">
						</td>
						<td>
							<input id="totals" type="text" class="form-control content-control">
						</td>
					</tr>
					{{#each carts}}
					<tr>
						<td>{{qty}}</td>
						<td>{{itemNum}}</td>
						<td>{{desc}}</td>
						<td>{{color}}</td>
						<td>{{s}}</td>
						<td>{{m}}</td>
						<td>{{l}}</td>
						<td>{{xl}}</td>
						<td>{{x2}}</td>
						<td>{{x3}}</td>
						<td>{{other}}</td>
						<td>{{unitPrice}}</td>
						<td>{{totals}}</td>
					</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
		<div id="content-footer" class="col-md-12">
			<div class="col-md-6">
				<p class="col-md-12"><i>
					Each order placed with GC is unique and individual and as such, additional costs may incur, that may not have been perceived especially if changes are made. It is our practice to provide an excellent  experience, and quality product. A 50% deposit is required to facilitate your order.
				</i></p>
				<div class="col-md-12">
					<strong class="col-md-12">Customer Signature</strong>
				</div>
			</div>
			<div class="col-md-6">
				<div class="col-md-10 pull-right">
					<div class="col-md-12 content-footer-adds">
						<div class="col-md-6">
							<input id="adds1" name="adds1" type="text" class="form-control"/>
						</div>
						<div class="col-md-6 input-group">
							<span class="input-group-addon">$</span>
							<input id="adds1_val" name="adds1_val" type="text" value="0" class="ta-right form-control"/>
						</div>
					</div>
					<div class="col-md-12 content-footer-adds">
						<div class="col-md-6">
							<input id="adds2" name="adds2" type="text" class="form-control"/>
						</div>
						<div class="col-md-6 input-group">
							<span class="input-group-addon">$</span>
							<input id="adds2_val" name="adds2_val" type="text" value="0" class="ta-right form-control"/>
						</div>
					</div>
					<div id="content-footer-total" class="col-md-12">
						<h3 class="col-md-6">TOTAL: </h3>
						<div class="col-md-6 input-group">
							<span class="input-group-addon">$</span>
							<input id="grand_total" name="grand_total" disabled type="text" class="ta-right form-control" value="{{order_total}}"/>
						</div>
					</div>
					<div id="content-footer-subwrap" class="col-md-12">
						<button id="content-footer-submit" class="btn btn-primary" type="button">PROCEED</button>
					</div>
				</div>
			</div>
		</div>
		{{/if}}
		<!--  -->
		{{#if business}}
		<div id="content-head" class="col-md-12">
			<input name="service" type="hidden" value="Business Cards"/>
			<div class="col-md-2">
				<img class="logo" src="GCLogoColor.png"/>
			</div>
			<div class="col-md-4">
				<p id="address">
					<strong>GRAPHIC CONNECTIONS</strong><br/>
					145 Mount Auburn Street<br/>
					Watertown, MA  02742<br/>
					617 - 926 - 1155 
				</p>
			</div>
			<div id="content-head-form" class="col-md-6">
				<table class="table">
					<tr>
						<td>Company Name: </td>
						<td><input name="company_name" class="form-control content-control" type="text"/></td>
					</tr>
					<tr>
						<td>Name: </td>
						<td><input name="user_name" class="form-control content-control" type="text" value="{{currentUser.profile.name}}"/></td>
					</tr>
					<tr>
						<td>Address: </td>
						<td><input name="address" class="form-control content-control" type="text"/></td>
					</tr>
					<tr>
						<td>Phone: </td>
						<td><input name="phone" class="form-control content-control" type="text"/></td>
					</tr>
				</table>
			</div>
		</div>
		<div id="content-datebox" class="col-md-12">
			<div class="col-md-12" id="content-datebox-upper">
				<span class="col-md-3">Salesperson: <input name="salesperson" style="width:50%;" class="form-control content-control" type="text"/></span>
				<span id="dateToday" class="col-md-3">Today's Date: <u>{{ dateToday }}</u></span>
				<span class="col-md-3">Est Prod Days: <input name="prod_days" style="width:43%;" class="form-control content-control" type="text"/></span>
				<span class="col-md-3">Due Date: <input name="due_date" style="width:67%;" class="form-control content-control" type="date"/></span>
			</div>
			<div  class="col-md-12" id="content-datebox-lower">
				<span class="col-md-6">Garments: <input name="garments" style="width:50%;" class="form-control content-control" type="text"/></span>
				<span class="col-md-6">Other: <input name="other_top" style="width:50%;" class="form-control content-control" type="text"/></span>
			</div>
		</div>
		<div id="content-title" class="col-md-12">
			<div class="col-md-6" style="padding-left:0px;">
				<strong>BUSINESS CARDS</strong>
			</div>
			<div class="col-md-3">
				INVOICE #:<br/>
				<input name="invoice" type="text" class="form-control">
			</div>
		</div>
		<div id="content-table" class="col-md-12">
			<table class="table table-bordered">
				<thead>
					<tr>
						<td>QTY</td>
						<td style="width:8%">Item #</td>
						<td style="width:25%">Description</td>
						<td style="width:8%">Color</td>
						<td>S</td>
						<td>M</td>
						<td>L</td>
						<td>XL</td>
						<td>2X</td>
						<td>3X</td>
						<td style="font-size:10px">OTHER<input name="other_size" type="text" class="form-control" style="height:20px"></td>
						<td style="width:8%">Unit Price</td>
						<td style="width:8%">Totals</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<input id="qty" type="text" class="form-control content-control">
						</td>
						<td>
							<input id="itemNum" type="text" class="form-control content-control">
						</td>
						<td>
							<input id="desc" type="text" class="form-control content-control" value="{{findItem.item}}">
						</td>
						<td>
							<input id="color" type="text" class="form-control content-control" value="{{findItem.color}}">
						</td>
						<td>
							<input id="s" type="text" class="form-control content-control" value="0">
						</td>
						<td>
							<input id="m" type="text" class="form-control content-control" value="0">
						</td>
						<td>
							<input id="l" type="text" class="form-control content-control" value="0">
						</td>
						<td>
							<input id="xl" type="text" class="form-control content-control" value="0">
						</td>
						<td>
							<input id="x2" type="text" class="form-control content-control" value="0">
						</td>
						<td>
							<input id="x3" type="text" class="form-control content-control" value="0">
						</td>
						<td>
							<input id="other" type="text" class="form-control content-control" value="0">
						</td>
						<td>
							<input id="unitPrice" type="text" class="form-control content-control" value="{{findItem.unitPrice}}">
						</td>
						<td>
							<input id="totals" type="text" class="form-control content-control">
						</td>
					</tr>
					{{#each carts}}
					<tr>
						<td>{{qty}}</td>
						<td>{{itemNum}}</td>
						<td>{{desc}}</td>
						<td>{{color}}</td>
						<td>{{s}}</td>
						<td>{{m}}</td>
						<td>{{l}}</td>
						<td>{{xl}}</td>
						<td>{{x2}}</td>
						<td>{{x3}}</td>
						<td>{{other}}</td>
						<td>{{unitPrice}}</td>
						<td>{{totals}}</td>
					</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
		<div id="content-footer" class="col-md-12">
			<div class="col-md-6">
				<p class="col-md-12"><i>
					Each order placed with GC is unique and individual and as such, additional costs may incur, that may not have been perceived especially if changes are made. It is our practice to provide an excellent  experience, and quality product. A 50% deposit is required to facilitate your order.
				</i></p>
				<div class="col-md-12">
					<strong class="col-md-12">Customer Signature</strong>
				</div>
			</div>
			<div class="col-md-6">
				<div class="col-md-10 pull-right">
					<div class="col-md-12 content-footer-adds">
						<div class="col-md-6">
							<input id="adds1" name="adds1" type="text" class="form-control"/>
						</div>
						<div class="col-md-6 input-group">
							<span class="input-group-addon">$</span>
							<input id="adds1_val" name="adds1_val" type="text" value="0" class="ta-right form-control"/>
						</div>
					</div>
					<div class="col-md-12 content-footer-adds">
						<div class="col-md-6">
							<input id="adds2" name="adds2" type="text" class="form-control"/>
						</div>
						<div class="col-md-6 input-group">
							<span class="input-group-addon">$</span>
							<input id="adds2_val" name="adds2_val" type="text" value="0" class="ta-right form-control"/>
						</div>
					</div>
					<div id="content-footer-total" class="col-md-12">
						<h3 class="col-md-6">TOTAL: </h3>
						<div class="col-md-6 input-group">
							<span class="input-group-addon">$</span>
							<input id="grand_total" name="grand_total" disabled type="text" class="ta-right form-control" value="{{order_total}}"/>
						</div>
					</div>
					<div id="content-footer-subwrap" class="col-md-12">
						<button id="content-footer-submit" class="btn btn-primary" type="button">PROCEED</button>
					</div>
				</div>
			</div>
		</div>
		{{/if}}
		<!--  -->
		{{#if sales_orders}}
		<div id="content-title" class="col-md-12">
			<div class="col-md-2">ORDERS</div> 
			<div class="col-md-3">
				<input id="search_order" type="text" class="form-control content-control" placeholder="Search Order ID">
			</div>
		</div>
		<div id="content_table" class="col-md-12">
			{{#each all_sales_orders}}
			<div class="highlight col-md-12" data-toggle="modal" data-target="#content-modal">
				<div class="pull-left">
					<p class="task_name">{{ name }}</p>
					<p class="task_order_id">Order ID: {{ order_id }}</p>
				</div>
				<div class="pull-right" style="text-align:right">
					<p style="display:none;">Invoice: <span class="task_invoice">{{ invoice }}</span></p>
					<p class="task_date">Date Ordered: {{ date }}</p>
					<p class="task_status">Status: <strong>{{ status }}</strong></p>
				</div>
			</div>
			{{/each}}
		</div>
		{{/if}}
		<!--  -->
		{{#if sales_sales}}
		<div id="content-title" class="col-md-12">
			<div class="col-md-6">SALES</div> 
			<!-- <div class="col-md-2">
				<input id="search_order" type="text" class="form-control content-control" placeholder="Search Order ID">
			</div> -->
		</div>
		<div id="content_table" class="col-md-12">
			<div class="col-md-10">
				<table class="table table-striped">
					<thead>
						<tr>
							<td><b>Date</b></td>
							<td><b>Order ID</b></td>
							<td><b>Service</b></td>
							<td><b>Name</b></td>
							<td><b>Amount</b></td>
							<td><b>Deposit</b></td>
						</tr>
					</thead>
					<tbody>
						{{#each all_sales_sales}}
						<tr>
							<td>{{ date }}</td>
							<td>{{ order_id }}</td>
							<td>{{ service }}</td>
							<td>{{ name }}</td>
							<td class="ta-right">{{ grand_total }}</td>
							<td class="ta-right">{{ deposit }}</td>
						</tr>
						{{/each}}
					</tbody>
				</table>
			</div>
		</div>
		{{/if}}
		<!--  -->
		{{#if sales_receivable}}
		<div id="content-title" class="col-md-12">
			<div class="col-md-6">ACCOUNTS RECEIVABLE</div> 
			<!-- <div class="col-md-2">
				<input id="search_order" type="text" class="form-control content-control" placeholder="Search Order ID">
			</div> -->
		</div>
		<div id="content_table" class="col-md-12">
			<div class="col-md-10">
				<table class="table table-striped">
					<thead>
						<tr>
							<td><b>Date</b></td>
							<td><b>Order ID</b></td>
							<td><b>Service</b></td>
							<td><b>Name</b></td>
							<td><b>Amount</b></td>
							<td><b>Receivable</b></td>
						</tr>
					</thead>
					<tbody>
						{{#each all_sales_receivable}}
						<tr>
							<td>{{ date }}</td>
							<td>{{ order_id }}</td>
							<td>{{ service }}</td>
							<td>{{ name }}</td>
							<td class="ta-right">{{ grand_total }}</td>
							<td class="ta-right">{{receivable grand_total deposit}}</td>
						</tr>
						{{/each}}
					</tbody>
				</table>
			</div>
		</div>
		{{/if}}
		<!--  -->
		<!-- Modal -->
		<div class="modal fade" id="content-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title" id="myModalLabel">Order</h4>
		      </div>
		      <div class="modal-body">
		        {{> target_modal }}
		      </div>
		    </div>
		  </div>
		</div>
	</form>
</template>