<template name="target_modal">
	{{#unless checkUser}}
		<p>Invoice: {{ target_task.invoice }}</p>
		<p>Service: {{ target_task.service }}</p>
		<br/>
		<p>Date Ordered: {{ target_task.date }}</p>
		<p>Customer: {{ target_task.name }}</p>
		<p>Item: {{ target_task.itemNum }}</p>
		<p>Qty: {{ target_task.qty }}</p>
		<p>Line Total: ${{ target_task.totals }}</p>
	{{else}}
		<p>Order ID: {{ target_task.order_id }}</p>
		<p>Service: {{ target_task.service }}</p>
		<p>Status: <strong>{{ target_task.status }}</strong></p>
		<br/>
		<p>Invoice: {{ target_task.invoice }}</p>
		<p>Date Ordered: {{ target_task.date }}</p>
		<p>Customer: {{ target_task.name }}</p>
		<p>Total: ${{target_task.grand_total}}</p>
		<br/>
		{{#each order_task}}
		<div class="highlight">
			<p>Item: {{ itemNum }}</p>
			<p>Quantity: {{ qty }}</p>
			<p>Line Cost: ${{ totals }}</p>
			<p>Status: {{ task }}</p>
		</div>
		{{/each}}
	{{/unless}}
</template>

<template name="inventory_modal">
	<table>
		<tr>
			<td>Item No:</td>
			<td><input id="inv_itemNum" class="form-control" type="number"/></td>
		</tr>
		<tr>
			<td>Type:</td>
			<td><input id="inv_type" class="form-control" type="text"/></td>
		</tr>
		<tr>
			<td>Item:</td>
			<td><input id="inv_item" class="form-control" type="text"/></td>
		</tr>
		<tr>
			<td>Color:</td>
			<td><input id="inv_color" class="form-control" type="text"/></td>
		</tr>
		<tr>
			<td>Quantity:</td>
			<td><input id="inv_qty" class="form-control" type="number"/></td>
		</tr>
		<tr>
			<td>Unit Price:</td>
			<td><input id="inv_unitPrice" class="form-control" type="number"/></td>
		</tr>
		<tr>
			<td></td>
			<td><button id="add_inventory" class="btn btn-primary pull-right" data-dismiss="modal">Add</button></td>
		</tr>
	</table>
</template>