<template name="demo_home">
	<div class="content col-lg-12">
		<div class="col-lg-2">
			<img class="logo" src="GCLogoColor.png"/>
		</div>
		<div class="col-lg-4">
			<p id="address" style="text-align:left">
				<strong>GRAPHIC CONNECTIONS</strong><br/>
				145 Mount Auburn Street<br/>
				Watertown, MA  02742<br/>
				617 - 926 - 1155 
			</p>
		</div>
	</div>
	<div class="content col-lg-12">
		<div class="col-lg-3">
			<ul>
				<li>
					<div class="highlight menu-selected">
						<span class="menu-item">Embroidery</span>
						<span class="label label-default pull-right">12</span>
					</div>
				</li>
				<li>
					<div class="highlight">
						<span class="menu-item">Screen Printing</span>
						<span class="label label-default pull-right">12</span>
					</div>
				</li>
				<li>
					<div class="highlight">
						<span class="menu-item">Promotional</span>
						<span class="label label-default pull-right">12</span>
					</div>
				</li>
				<li>
					<div class="highlight">
						<span class="menu-item">Business Cards</span>
						<span class="label label-default pull-right">12</span>
					</div>
				</li>
			</ul>
		</div>
		<div class="col-lg-9">
			<div class="col-lg-12">
				EMBROIDERY
			</div>
			<div>
				<form>
					<div class="col-lg-6 form-group">
						<div>
							Item:
							<select>
								<option>GC123</option>
								<option>GC234</option>
								<option>GC345</option>
							</select>
						</div>
						<div>
							Color:
							<select>
								<option>Red</option>
								<option>Green</option>
								<option>Blue</option>
							</select> 
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	</div>
</template>	